<div class="NumberListQuestion">
    <div class="row">
      {% if type != 'Speaking' %}
        <div class="timer">
            <div class="countdown"></div>
        </div>
      {% endif %}
        {% if questions %}
            {% for key,section in questions %}
                <div class="section-{{ key }} section-block-number">
                    <span class="section-label-{{ key }}">Section {{ loop.index }}</span>
                    {% for question in section %}
                        {{ question.question|raw }}
                    {% endfor %}
                </div>
            {% endfor %}

        {% endif %}
    </div>

</div>

<div class="clearfix"></div>
